<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Journey data</title>

        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <!-- Normalize.css -->
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/7.0.0/normalize.css">

        <!-- DataTables -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/dataTables.bootstrap.min.js"></script>
        <script>
            $(document).ready(function() {
                $('#journeys').DataTable( {"pageLength": 100} );
            });
        </script>
        <style>
            .icon {
                height: 22px;
                margin-top: -2px;
            }
            .icon.green,
            .icon.red {
                font-size: 22px;
                line-height: 20px;
            }
            .icon.green {
                color: darkgreen;
            }
            .icon.red {
                color: darkred;
            }
        </style>
    </head>

    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h1>Journey data</h1>
                    <p>To update this table, modify <a href="https://github.com/stevemart/journey-data/blob/master/journeys.yaml">journeys.yaml</a></p>
                    <table id="journeys" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Category</th>
                                <th>PWG</th>
                                <th>Title</th>
                                <th><img class="icon" alt="GitHub" src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" /></th>
                                <th><img class="icon" alt="YouTube video" src="https://www.youtube.com/yt/about/media/images/brand-resources/icons/YouTube_icon_full-color.svg" /></th>
                                <th><img class="icon" alt="Published journey" src="https://s.w.org/about/images/logos/wordpress-logo-notext-rgb.png" /></th>
                                <th><img class="icon" alt="CI" src="https://travis-ci.com/images/logos/TravisCI-Mascot-1.png" /></th>
                                <!-- Put these back in when the data is filled in
                                <th>OM&nbsp;Docs</th>
                                <th>Publishing</th>
                                -->
                                <th>Runtimes</th>
                                <th>Services</th>
                                <th>Deploy to Bluemix</th>
                                <th>Free Tier Friendly</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for journey in journeys %}
                                <tr>
                                    <td>{{ journey['Category'] }}</td>
                                    <td>{{ journey['PWG'] }}</td>
                                    <td>{{ journey['Journey Title'] }}</td>
                                    <td>{% if journey['Code Repo'] %}<a href="{{ journey['Code Repo'] }}"><img class="icon" alt="GitHub repository" src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" /></a>{% endif %}</td>
                                    <td>{% if journey['Youtube Link'] %}<a href="{{ journey['Youtube Link'] }}"><img class="icon" alt="YouTube video" src="https://www.youtube.com/yt/about/media/images/brand-resources/icons/YouTube_icon_full-color.svg" /></a>{% endif %}</td>
                                    <td>{% if journey['Journey URL'] %}<a href="{{ journey['Journey URL'] }}"><img class="icon" alt="Published journey" src="https://s.w.org/about/images/logos/wordpress-logo-notext-rgb.png" /></a>{% endif %}</td>
                                    <td>{% if journey['Code Repo'] %}<a href="https://travis-ci.org/{{ '/'.join(journey['Code Repo'].rstrip('/').rsplit('/')[-2:]) }}"><img class="icon" alt="Travis CI" src="https://travis-ci.org/{{ '/'.join(journey['Code Repo'].rstrip('/').rsplit('/')[-2:]) }}.svg?branch=master" /></a>{% endif %}</td>
                                    <!-- Put these back in when the data is filled in
                                    <td><a href="{{ journey['OM Docs Repo'] }}">OM Docs</a></td>
                                    <td><a href="{{ journey['Publishing Repo'] }}">Publishing</a></td>
                                    -->
                                    <td>{{ journey['Runtimes'] }}</td>
                                    <td>{{ journey['Services'].strip() }}</td>
                                    <td class="icon {{ 'green' if journey['Deploy to Bluemix'] else 'red' }}">{{ '&#x2714;' if journey['Deploy to Bluemix'] else '&#x2718;' }}</td>
                                    <td class="icon {{ 'green' if journey['Free Tier Friendly'] else 'red' }}">{{ '&#x2714;' if journey['Free Tier Friendly'] else '&#x2718;' }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
